Repository astromid/economy-game-179: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, mypy-backend, mypy-frontend

flake8:
  name: flake8
  description: wemake-python-styleguide enforcement
  entry: flake8
  language: system

mypy-backend:
  name: mypy-backend
  language: system
  pass_filenames: false
  entry: bash -c 'cd backend && mypy -p egame179_backend "$@"' --

mypy-frontend:
  name: mypy-frontend
  language: system
  pass_filenames: false
  entry: bash -c 'cd frontend && mypy -p egame179_frontend "$@"' --

[Frontend] Working overview, markets & manufacturing views
  .flake8
  backend/egame179_backend/api/market.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/warehouse.py
  backend/egame179_backend/engine/calc.py
  backend/egame179_backend/engine/mechanics.py
  frontend/egame179_frontend/api/market.py
  frontend/egame179_frontend/api/modificators.py
  frontend/egame179_frontend/api/sync.py
  frontend/egame179_frontend/state/player.py
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/style.py
  frontend/egame179_frontend/views/player/manufacturing.py
  frontend/egame179_frontend/views/player/markets.py
  frontend/egame179_frontend/views/player/overview.py
  frontend/egame179_frontend/visualization.py
Due: flake8, mypy-backend, mypy-frontend

[Backend][Frontend] Fixed storages & user views
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/api/supply.py
  backend/egame179_backend/engine/math.py
  frontend/egame179_frontend/api/user.py
  frontend/egame179_frontend/state/player.py
  frontend/egame179_frontend/views/player/manufacturing.py
  frontend/egame179_frontend/views/player/stocks.py
  frontend/egame179_frontend/views/player/supplies.py
  frontend/egame179_frontend/visualization.py
Due: flake8, mypy-backend, mypy-frontend

[WIP][Frontend] Start work on admin dashboard
  frontend/egame179_frontend/state/root.py
  frontend/egame179_frontend/style.py
  frontend/egame179_frontend/views/admin/__init__.py
  frontend/egame179_frontend/views/admin/dashboard.py
  frontend/egame179_frontend/views/admin/stocks.py
  frontend/egame179_frontend/views/player/markets.py
  frontend/egame179_frontend/visualization.py
Due: flake8, mypy-frontend

[Backend][Frontend] Root control dashboard
  backend/egame179_backend/api/cycle.py
  backend/egame179_backend/api/market.py
  backend/egame179_backend/api/modificators.py
  backend/egame179_backend/db/bulletin.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/modificators.py
  backend/egame179_backend/engine/math.py
  frontend/egame179_frontend/api/market.py
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/views/admin/dashboard.py
Due: flake8, mypy-backend, mypy-frontend

[Backend][Frontend] Root control dashboard
  frontend/egame179_frontend/views/admin/dashboard.py
Due: flake8, mypy-frontend

[Backend] Fix sell prices
  backend/egame179_backend/engine/calc.py
Due: flake8, mypy-backend

[Backend] Fix stocks inf
  backend/egame179_backend/engine/calc.py
  backend/egame179_backend/engine/mechanics.py
Due: flake8, mypy-backend

[Backend][Frontend] Fix balances, various fixes
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/api/market.py
  backend/egame179_backend/db/supply.py
  backend/egame179_backend/engine/calc.py
  backend/egame179_backend/engine/mechanics.py
  frontend/egame179_frontend/api/supply.py
  frontend/egame179_frontend/views/admin/dashboard.py
  frontend/egame179_frontend/views/player/supplies.py
Due: flake8, mypy-backend, mypy-frontend

[Backend][Frontend] Working bulletins
  backend/egame179_backend/db/bulletin.py
  backend/egame179_backend/engine/math.py
  frontend/egame179_frontend/__init__.py
  frontend/egame179_frontend/app.py
  frontend/egame179_frontend/state/__init__.py
  frontend/egame179_frontend/state/news.py
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/views/news.py
Due: flake8, mypy-backend, mypy-frontend

[Frontend] Root market analytics
  backend/egame179_backend/api/transaction.py
  frontend/egame179_frontend/api/transaction.py
  frontend/egame179_frontend/state/root.py
  frontend/egame179_frontend/views/admin/__init__.py
  frontend/egame179_frontend/views/admin/markets.py
  frontend/egame179_frontend/views/admin/storages.py
  frontend/egame179_frontend/views/admin/supplies.py
  frontend/egame179_frontend/visualization.py
Due: flake8, mypy-backend, mypy-frontend

fix
  backend/egame179_backend/db/bulletin.py
  frontend/egame179_frontend/views/news.py
Due: flake8, mypy-backend, mypy-frontend

fix
  frontend/egame179_frontend/views/news.py
Due: flake8, mypy-frontend

fix
  frontend/egame179_frontend/views/admin/supplies.py
Due: flake8, mypy-frontend

fix
  frontend/egame179_frontend/views/admin/__init__.py
Due: flake8, mypy-frontend

fix
  frontend/egame179_frontend/views/admin/markets.py
  frontend/egame179_frontend/views/admin/stocks.py
  frontend/egame179_frontend/views/admin/storages.py
  frontend/egame179_frontend/views/admin/supplies.py
  frontend/egame179_frontend/views/admin/transactrions.py
Due: flake8, mypy-frontend

fix
  frontend/egame179_frontend/views/admin/__init__.py
  frontend/egame179_frontend/views/admin/storages.py
  frontend/egame179_frontend/views/admin/supplies.py
Due: flake8, mypy-frontend

fix
  frontend/egame179_frontend/views/admin/stocks.py
  frontend/egame179_frontend/views/admin/storages.py
  frontend/egame179_frontend/views/admin/supplies.py
Due: flake8, mypy-frontend

fix
  frontend/egame179_frontend/state/root.py
  frontend/egame179_frontend/views/admin/__init__.py
  frontend/egame179_frontend/views/admin/storages.py
  frontend/egame179_frontend/views/admin/transactrions.py
Due: flake8, mypy-frontend

Beta-001
  backend/start-mariadb.sh
  frontend/egame179_frontend/views/admin/transactrions.py
Due: flake8, mypy-frontend

Update to python 3.11
  .pre-commit-config.yaml
  .ruff.toml
  backend/pyproject.toml
  environment-dev.yml
  frontend/pyproject.toml
  make-dev-env.sh
Due: none

Release 1.0
  backend/pyproject.toml
  frontend/pyproject.toml
Due: none

Path conditions:
  flake8: any of: \.py$
  mypy-backend: any of: ^backend/egame179_backend/ and \.py$
  mypy-frontend: any of: ^frontend/egame179_frontend/ and \.py$
