Repository astromid/economy-game-179: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy-backend, mypy-frontend, flake8

.pre-commit-config.yaml:

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: trailing-whitespace
  - id: check-ast
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
    args: [--fix=no]

- repo: https://github.com/asottile/add-trailing-comma
  rev: v2.3.0
  hooks:
  - id: add-trailing-comma

- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.5.0
  hooks:
  - id: pretty-format-yaml
    args:
    - --autofix
    - --preserve-quotes
    - --indent=2

- repo: http://github.com/timothycrosley/isort
  rev: 5.10.1
  hooks:
  - id: isort

- repo: local
  hooks:
  - id: black
    name: black
    description: black style enforcement
    entry: black
    language: system
    types: [python]
    args: [--diff, --check]

- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs

- repo: https://github.com/asottile/pyupgrade
  rev: v3.3.1
  hooks:
  - id: pyupgrade
    args: [--py310-plus]

- repo: https://github.com/dosisod/refurb
  rev: 'v1.8.0'
  hooks:
  - id: refurb

- repo: local
  hooks:
  - id: mypy-backend
    name: mypy-backend
    language: system
    types: [python]
    pass_filenames: false
    files: ^backend/egame179_backend/
    entry: bash -c 'cd backend && mypy -p egame179_backend "$@"' --

  - id: mypy-frontend
    name: mypy-frontend
    language: system
    types: [python]
    pass_filenames: false
    files: ^frontend/egame179_frontend/
    entry: bash -c 'cd frontend && mypy -p egame179_frontend "$@"' --

  - id: flake8
    name: flake8
    description: wemake-python-styleguide enforcement
    entry: flake8
    language: system
    types: [python]

WIP: ?
  backend/egame179_backend/app/api/balance/__init__.py
  backend/egame179_backend/app/api/balance/views.py
  backend/egame179_backend/app/api/router.py
  backend/egame179_backend/db/dao/balances.py
  backend/egame179_backend/db/dao/cycles.py
  backend/egame179_backend/db/models.py
  frontend/egame179_frontend/views/logout.py
  frontend/egame179_frontend/views/registry.py
Due: black, mypy-backend, mypy-frontend, flake8

Some fixes just to start the game
  backend/pyproject.toml
  backend/start-maria-db.sh
  environment-dev.yml
  frontend/pyproject.toml
  make-dev-env.sh
Due: none

Updated initial migration
  .pre-commit-config.yaml
  backend/alembic/initial_data.yaml.example
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/app/api/auth/dependencies.py
  backend/egame179_backend/app/api/auth/views.py
  backend/egame179_backend/db/dao/users.py
Due: black, mypy-backend, flake8

Frontend init system reworking
  .gitignore
  .ruff.toml
  backend/README.md
  backend/start-mariadb.sh
  environment-dev.yml
  frontend/README.md
  frontend/egame179_frontend/api/__init__.py
  frontend/egame179_frontend/api/models.py
  frontend/egame179_frontend/api/player_mock.json
  frontend/egame179_frontend/app.py
  frontend/egame179_frontend/fetch_ui.py
  frontend/egame179_frontend/initialize.py
  frontend/egame179_frontend/state.py
  frontend/egame179_frontend/state/shared.py
  frontend/egame179_frontend/style.py
  frontend/egame179_frontend/views/admin/dashboard.py
  frontend/egame179_frontend/views/login.py
  frontend/egame179_frontend/views/logout.py
  make-dev-env.sh
Due: black, mypy-frontend, flake8

Frontend init system reworking-2
  .pre-commit-config.yaml
  frontend/egame179_frontend/views/admin/dashboard.py
  make-dev-env.sh
Due: black, mypy-frontend, flake8

Frontend init system reworking-3
  .pre-commit-config.yaml
  environment-dev.yml
  frontend/egame179_frontend/api/__init__.py
  frontend/egame179_frontend/api/cycle.py
  frontend/egame179_frontend/api/models.py
  frontend/egame179_frontend/api/user.py
  frontend/egame179_frontend/app.py
  frontend/egame179_frontend/state.py
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/views/admin/dashboard.py
  frontend/egame179_frontend/views/logout.py
  frontend/egame179_frontend/views/news.py
  frontend/egame179_frontend/views/player/overview.py
  frontend/egame179_frontend/views/registry.py
Due: black, mypy-frontend, flake8

WIP: player dashboard
  .pre-commit-config.yaml
  backend/egame179_backend/app/api/cycle/views.py
  frontend/egame179_frontend/api/balance.py
  frontend/egame179_frontend/api/cycle.py
  frontend/egame179_frontend/app.py
  frontend/egame179_frontend/settings.py
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/style.py
  frontend/egame179_frontend/views/admin/dashboard.py
  frontend/egame179_frontend/views/logout.py
  frontend/egame179_frontend/views/player/__init__.py
  frontend/egame179_frontend/views/player/overview.py
  frontend/egame179_frontend/views/registry.py
  frontend/pyproject.toml
  make-dev-env.sh
Due: black, mypy-backend, mypy-frontend, flake8

[Backend] Implemented MarketsAPI
  backend/egame179_backend/app/api/auth/views.py
  backend/egame179_backend/app/api/balance/views.py
  backend/egame179_backend/app/api/cycle/views.py
  backend/egame179_backend/app/api/market/__init__.py
  backend/egame179_backend/app/api/market/views.py
  backend/egame179_backend/app/api/router.py
  backend/egame179_backend/db/dao/__init__.py
  backend/egame179_backend/db/dao/balance.py
  backend/egame179_backend/db/dao/cycle.py
  backend/egame179_backend/db/dao/market.py
  backend/egame179_backend/db/dao/user.py
Due: black, mypy-backend, flake8

[Frontend] Implemented MarketsAPI
  backend/egame179_backend/app/api/auth/dependencies.py
  backend/egame179_backend/app/api/auth/views.py
  backend/egame179_backend/app/api/balance/views.py
  backend/egame179_backend/app/api/cycle/views.py
  backend/egame179_backend/app/app.py
  backend/egame179_backend/app/lifetime.py
  frontend/egame179_frontend/api/cycle.py
  frontend/egame179_frontend/api/market.py
  frontend/egame179_frontend/api/mock.py
  frontend/egame179_frontend/api/models.py
  frontend/egame179_frontend/api/user.py
Due: black, mypy-backend, mypy-frontend, flake8

[Frontend] [WIP] Markets graph
  .pre-commit-config.yaml
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/views/player/__init__.py
  frontend/egame179_frontend/views/player/markets.py
  frontend/egame179_frontend/views/player/overview.py
  frontend/pyproject.toml
Due: black, mypy-frontend, flake8

[Backend] API structure reworking
  .pre-commit-config.yaml
  backend/egame179_backend/__main__.py
  backend/egame179_backend/api/__init__.py
  backend/egame179_backend/api/auth/__init__.py
  backend/egame179_backend/api/auth/dependencies.py
  backend/egame179_backend/api/auth/schema.py
  backend/egame179_backend/api/auth/views.py
  backend/egame179_backend/api/balance/__init__.py
  backend/egame179_backend/api/balance/views.py
  backend/egame179_backend/api/cycle/__init__.py
  backend/egame179_backend/api/cycle/views.py
  backend/egame179_backend/api/market/__init__.py
  backend/egame179_backend/api/market/views.py
  backend/egame179_backend/api/monitoring/__init__.py
  backend/egame179_backend/api/monitoring/views.py
  backend/egame179_backend/api/router.py
  backend/egame179_backend/app.py
  backend/egame179_backend/app/__init__.py
  backend/egame179_backend/app/api/market/__init__.py
  backend/egame179_backend/db/__init__.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/cycle.py
  backend/egame179_backend/db/dao/__init__.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/models.py
  backend/egame179_backend/db/user.py
  backend/egame179_backend/lifetime.py
  backend/start-mariadb.sh
Due: black, mypy-backend, flake8

[Backend] DB reworking
  backend/alembic/env.py
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/api/cycle/views.py
  backend/egame179_backend/db/cycle.py
  backend/egame179_backend/db/transaction.py
  frontend/egame179_frontend/views/admin/dashboard.py
Due: black, mypy-backend, mypy-frontend, flake8

[Backend] [Frontend] Bugfixes
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/api/auth/__init__.py
  backend/egame179_backend/api/balance/__init__.py
  backend/egame179_backend/api/cycle/__init__.py
  frontend/egame179_frontend/api/cycle.py
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/views/admin/dashboard.py
Due: black, mypy-backend, mypy-frontend, flake8

[Backend] Added prices DAO
  backend/egame179_backend/api/price/__init__.py
  backend/egame179_backend/api/price/views.py
  backend/egame179_backend/api/router.py
  backend/egame179_backend/db/price.py
Due: black, mypy-backend, flake8

[Backend] Added DAOs for prices, supplies
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/price.py
  backend/egame179_backend/db/supply.py
Due: black, mypy-backend, flake8

[Backend][Frontend] Working prototype of main player dashboard
  .flake8
  backend/egame179_backend/api/balance.py
  backend/egame179_backend/api/balance/__init__.py
  backend/egame179_backend/api/cycle.py
  backend/egame179_backend/api/cycle/__init__.py
  backend/egame179_backend/api/cycle_params.py
  backend/egame179_backend/api/market.py
  backend/egame179_backend/api/market/__init__.py
  backend/egame179_backend/api/monitoring.py
  backend/egame179_backend/api/monitoring/__init__.py
  backend/egame179_backend/api/price.py
  backend/egame179_backend/api/price/__init__.py
  backend/egame179_backend/api/router.py
  backend/egame179_backend/api/transaction.py
  backend/egame179_backend/db/cycle.py
  backend/egame179_backend/db/cycle_params.py
  frontend/egame179_frontend/api/balance.py
  frontend/egame179_frontend/api/cycle_params.py
  frontend/egame179_frontend/api/models.py
  frontend/egame179_frontend/api/transaction.py
  frontend/egame179_frontend/api/user.py
  frontend/egame179_frontend/app.py
  frontend/egame179_frontend/state/player.py
  frontend/egame179_frontend/state/root.py
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/views/player/__init__.py
  frontend/egame179_frontend/views/player/manufacturing.py
  frontend/egame179_frontend/views/player/overview.py
  frontend/egame179_frontend/views/player/stocks.py
  frontend/egame179_frontend/views/player/supplies.py
  frontend/egame179_frontend/views/player/transactions.py
Due: black, mypy-backend, mypy-frontend, flake8

[Backend][Frontend] Player markets AppView
  backend/egame179_backend/api/__init__.py
  backend/egame179_backend/api/cycle.py
  backend/egame179_backend/api/market.py
  backend/egame179_backend/api/price.py
  backend/egame179_backend/api/router.py
  backend/egame179_backend/app.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/legacy/structures.py
  frontend/egame179_frontend/api/balance.py
  frontend/egame179_frontend/api/market.py
  frontend/egame179_frontend/api/price.py
  frontend/egame179_frontend/state/player.py
  frontend/egame179_frontend/style.py
  frontend/egame179_frontend/views/player/manufacturing.py
  frontend/egame179_frontend/views/player/markets.py
  frontend/egame179_frontend/views/player/overview.py
  frontend/egame179_frontend/visualization.py
Due: black, mypy-backend, mypy-frontend, flake8

[Backend][Frontend] Added market shares to markets grpah
  .pre-commit-config.yaml
  backend/alembic/initial_data.yaml.example
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/api/__init__.py
  backend/egame179_backend/api/auth/views.py
  backend/egame179_backend/api/balance.py
  backend/egame179_backend/api/cycle_params.py
  backend/egame179_backend/api/product.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/cycle_params.py
  backend/egame179_backend/db/product.py
  backend/egame179_backend/db/supply.py
  backend/egame179_backend/db/user.py
  frontend/egame179_frontend/api/balance.py
  frontend/egame179_frontend/api/cycle.py
  frontend/egame179_frontend/api/cycle_params.py
  frontend/egame179_frontend/api/product.py
  frontend/egame179_frontend/api/user.py
  frontend/egame179_frontend/legacy/update_state.py
  frontend/egame179_frontend/state/player.py
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/views/player/manufacturing.py
  frontend/egame179_frontend/views/player/markets.py
  frontend/egame179_frontend/views/player/overview.py
  frontend/egame179_frontend/visualization.py
Due: black, mypy-backend, mypy-frontend, flake8

[Backend][Frontend] Added manufacturing AppView
  .flake8
  backend/egame179_backend/api/product.py
  frontend/egame179_frontend/views/player/__init__.py
  frontend/egame179_frontend/views/player/manufacturing.py
  frontend/egame179_frontend/views/player/markets.py
Due: black, mypy-backend, mypy-frontend, flake8

[WIP][Backend][Frontend] DAO CRUD refactoring, production API
  backend/egame179_backend/api/product.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/cycle.py
  backend/egame179_backend/db/cycle_params.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/price.py
  backend/egame179_backend/db/transaction.py
  frontend/egame179_frontend/views/player/manufacturing.py
Due: black, mypy-backend, mypy-frontend, flake8

[Backend] Products buy API route
  backend/egame179_backend/api/auth/dependencies.py
  backend/egame179_backend/api/auth/views.py
  backend/egame179_backend/api/balance.py
  backend/egame179_backend/api/cycle.py
  backend/egame179_backend/api/cycle_params.py
  backend/egame179_backend/api/market.py
  backend/egame179_backend/api/price.py
  backend/egame179_backend/api/product.py
  backend/egame179_backend/api/transaction.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/price.py
  backend/egame179_backend/db/product.py
  backend/egame179_backend/db/supply.py
  backend/egame179_backend/db/user.py
  backend/egame179_backend/engine.py
  backend/egame179_backend/engine/cycles.py
  backend/egame179_backend/engine/engine.py
Due: black, mypy-backend, flake8

[Backend][Frontend] Manufacturing fixes
  .flake8
  backend/egame179_backend/api/auth/views.py
  backend/egame179_backend/api/product.py
  backend/egame179_backend/db/product.py
  backend/egame179_backend/engine.py
  frontend/egame179_frontend/api/cycle.py
  frontend/egame179_frontend/api/product.py
  frontend/egame179_frontend/state/player.py
  frontend/egame179_frontend/views/player/manufacturing.py
  frontend/egame179_frontend/views/player/overview.py
  frontend/egame179_frontend/views/player/storage.py
  frontend/egame179_frontend/views/player/supplies.py
Due: black, mypy-backend, mypy-frontend, flake8

[Backend][Frontend] Barely working supplies
  .flake8
  backend/egame179_backend/api/__init__.py
  backend/egame179_backend/api/balance.py
  backend/egame179_backend/api/cycle_params.py
  backend/egame179_backend/api/market.py
  backend/egame179_backend/api/price.py
  backend/egame179_backend/api/product.py
  backend/egame179_backend/api/supply.py
  backend/egame179_backend/db/__init__.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/price.py
  backend/egame179_backend/db/product.py
  backend/egame179_backend/engine.py
  frontend/egame179_frontend/__init__.py
  frontend/egame179_frontend/api/__init__.py
  frontend/egame179_frontend/api/supply.py
  frontend/egame179_frontend/app.py
  frontend/egame179_frontend/legacy/markets.py
  frontend/egame179_frontend/state/__init__.py
  frontend/egame179_frontend/state/player.py
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/views/logout.py
  frontend/egame179_frontend/views/player/__init__.py
  frontend/egame179_frontend/views/player/manufacturing.py
  frontend/egame179_frontend/views/player/markets.py
  frontend/egame179_frontend/views/player/overview.py
  frontend/egame179_frontend/views/player/supplies.py
Due: black, mypy-backend, mypy-frontend, flake8

[Backend][Frontend] Working supplies interface
  backend/egame179_backend/api/supply.py
  backend/egame179_backend/db/__init__.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/cycle.py
  backend/egame179_backend/db/cycle_params.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/price.py
  backend/egame179_backend/db/product.py
  backend/egame179_backend/db/session.py
  backend/egame179_backend/db/supply.py
  backend/egame179_backend/db/transaction.py
  backend/egame179_backend/db/user.py
  backend/egame179_backend/engine.py
  frontend/egame179_frontend/app.py
  frontend/egame179_frontend/state/player.py
  frontend/egame179_frontend/views/player/overview.py
  frontend/egame179_frontend/views/player/supplies.py
Due: black, mypy-backend, mypy-frontend, flake8

[Backend][Frontend] Stocks AppView
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/api/__init__.py
  backend/egame179_backend/api/auth/views.py
  backend/egame179_backend/api/cycle_params.py
  backend/egame179_backend/api/stocks.py
  backend/egame179_backend/db/cycle_params.py
  backend/egame179_backend/db/stocks.py
  backend/egame179_backend/db/user.py
  backend/egame179_backend/engine.py
  frontend/egame179_frontend/api/__init__.py
  frontend/egame179_frontend/api/cycle.py
  frontend/egame179_frontend/api/stocks.py
  frontend/egame179_frontend/api/user.py
  frontend/egame179_frontend/state/player.py
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/views/player/__init__.py
  frontend/egame179_frontend/views/player/overview.py
  frontend/egame179_frontend/views/player/stocks.py
Due: black, mypy-backend, mypy-frontend, flake8

[Backend][Frontend][WIP] Beta
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/api/cycle.py
  backend/egame179_backend/api/product.py
  backend/egame179_backend/api/supply.py
  backend/egame179_backend/db/price.py
  backend/egame179_backend/db/product.py
  backend/egame179_backend/db/supply.py
  backend/egame179_backend/db/transaction.py
  backend/egame179_backend/engine.py
  frontend/egame179_frontend/api/transaction.py
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/views/player/supplies.py
Due: black, mypy-backend, mypy-frontend, flake8

[Backend][Frontend][WIP] Non-working markets unlock
  backend/egame179_backend/api/cycle.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/transaction.py
  backend/egame179_backend/engine.py
  backend/egame179_backend/legacy/db.py
  frontend/egame179_frontend/legacy/user.py
  frontend/egame179_frontend/views/player/overview.py
Due: black, mypy-backend, mypy-frontend, flake8

Markets unlocking [wip-beta]
  backend/egame179_backend/api/supply.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/engine.py
Due: black, mypy-backend, flake8

Reinit game control (for testing)
  environment-dev.yml
  frontend/_reinit_db.sh
  frontend/egame179_frontend/views/admin/dashboard.py
Due: black, mypy-frontend, flake8

[DB] Database schema refactoring
  .flake8
  backend/alembic/initial_data.yaml.example
  backend/alembic/versions/2_create_tables.py
Due: black, flake8

[WIP][Backend] DAO refactoring
  backend/.env.example
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/api/auth/views.py
  backend/egame179_backend/db/__init__.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/cycle.py
  backend/egame179_backend/db/cycle_params.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/sync_status.py
  backend/egame179_backend/db/user.py
Due: black, mypy-backend, flake8

[Backend] DAO refactoring
  .pre-commit-config.yaml
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/db/__init__.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/cycle.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/market_price.py
  backend/egame179_backend/db/npc.py
  backend/egame179_backend/db/price.py
  backend/egame179_backend/db/product.py
  backend/egame179_backend/db/production.py
  backend/egame179_backend/db/stocks.py
  backend/egame179_backend/db/supply.py
  backend/egame179_backend/db/theta.py
  backend/egame179_backend/db/transaction.py
  backend/egame179_backend/db/world_demand.py
Due: black, mypy-backend, flake8

[WIP][Backend] API refactoring
  .flake8
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/api/__init__.py
  backend/egame179_backend/api/auth/views.py
  backend/egame179_backend/api/balance.py
  backend/egame179_backend/api/bulletin.py
  backend/egame179_backend/api/cycle.py
  backend/egame179_backend/api/cycle_params.py
  backend/egame179_backend/api/market.py
  backend/egame179_backend/api/market_price.py
  backend/egame179_backend/api/modificators.py
  backend/egame179_backend/api/monitoring.py
  backend/egame179_backend/api/price.py
  backend/egame179_backend/api/product.py
  backend/egame179_backend/api/production.py
  backend/egame179_backend/api/stocks.py
  backend/egame179_backend/api/supply.py
  backend/egame179_backend/api/transaction.py
  backend/egame179_backend/db/__init__.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/bulletin.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/modificators.py
  backend/egame179_backend/db/npc.py
  backend/egame179_backend/db/production.py
  backend/egame179_backend/db/supply.py
  backend/egame179_backend/db/theta.py
  backend/egame179_backend/db/user.py
  backend/egame179_backend/db/warehouse.py
  backend/egame179_backend/engine/cycle.py
  backend/egame179_backend/engine/math.py
  backend/egame179_backend/engine/utility.py
  notebooks/economy-model.ipynb
  notebooks/legacy/math-model.ipynb
  notebooks/legacy/sqlalchemy.ipynb
Due: black, mypy-backend, flake8

[WIP][Backend] API refactoring
  backend/alembic/initial_data.yaml.example
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/api/__init__.py
  backend/egame179_backend/api/balance.py
  backend/egame179_backend/api/bulletin.py
  backend/egame179_backend/api/cycle.py
  backend/egame179_backend/api/market.py
  backend/egame179_backend/api/modificators.py
  backend/egame179_backend/api/monitoring.py
  backend/egame179_backend/api/production.py
  backend/egame179_backend/api/stocks.py
  backend/egame179_backend/api/supply.py
  backend/egame179_backend/api/warehouse.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/bulletin.py
  backend/egame179_backend/db/cycle.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/production.py
  backend/egame179_backend/db/stocks.py
  backend/egame179_backend/db/supply.py
  backend/egame179_backend/db/theta.py
  backend/egame179_backend/db/transaction.py
  backend/egame179_backend/db/user.py
  backend/egame179_backend/db/warehouse.py
  backend/egame179_backend/engine/cycle.py
  backend/egame179_backend/engine/math.py
  backend/egame179_backend/engine/mechanics.py
  backend/egame179_backend/engine/utility.py
Due: black, mypy-backend, flake8

[Backend] API refactoring
  backend/egame179_backend/api/auth/views.py
  backend/egame179_backend/api/cycle.py
  backend/egame179_backend/db/__init__.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/market_price.py
  backend/egame179_backend/db/npc.py
  backend/egame179_backend/db/production.py
  backend/egame179_backend/db/stocks.py
  backend/egame179_backend/db/transaction.py
  backend/egame179_backend/engine/calc.py
  backend/egame179_backend/engine/math.py
  backend/egame179_backend/engine/mechanics.py
  backend/egame179_backend/engine/utility.py
Due: black, mypy-backend, flake8

[Backend] Fix DB primary keys
  backend/egame179_backend/api/balance.py
  backend/egame179_backend/api/modificators.py
  backend/egame179_backend/api/production.py
  backend/egame179_backend/api/supply.py
  backend/egame179_backend/api/transaction.py
  backend/egame179_backend/api/warehouse.py
  backend/egame179_backend/db/balance.py
  backend/egame179_backend/db/cycle.py
  backend/egame179_backend/db/market.py
  backend/egame179_backend/db/market_price.py
  backend/egame179_backend/db/modificators.py
  backend/egame179_backend/db/stocks.py
  backend/egame179_backend/db/sync_status.py
  backend/egame179_backend/db/theta.py
  backend/egame179_backend/db/warehouse.py
  backend/egame179_backend/db/world_demand.py
Due: black, mypy-backend, flake8

[Backend] Fix engine in case of empty dataframes
  backend/egame179_backend/engine/calc.py
  backend/egame179_backend/engine/math.py
  backend/egame179_backend/engine/mechanics.py
  backend/egame179_backend/engine/utility.py
Due: black, mypy-backend, flake8

[Backend][Frontend] Updated API
  backend/alembic/versions/2_create_tables.py
  backend/egame179_backend/api/market.py
  backend/egame179_backend/api/modificators.py
  backend/egame179_backend/db/__init__.py
  backend/egame179_backend/db/modificators.py
  backend/egame179_backend/engine/mechanics.py
  frontend/egame179_frontend/api/__init__.py
  frontend/egame179_frontend/api/balance.py
  frontend/egame179_frontend/api/bulletin.py
  frontend/egame179_frontend/api/cycle.py
  frontend/egame179_frontend/api/market.py
  frontend/egame179_frontend/api/modificators.py
  frontend/egame179_frontend/api/price.py
  frontend/egame179_frontend/api/product.py
  frontend/egame179_frontend/api/production.py
  frontend/egame179_frontend/api/stocks.py
  frontend/egame179_frontend/api/supply.py
  frontend/egame179_frontend/api/sync.py
  frontend/egame179_frontend/api/transaction.py
  frontend/egame179_frontend/api/user.py
  frontend/egame179_frontend/api/warehouse.py
  frontend/egame179_frontend/legacy/root.py
Due: black, mypy-backend, mypy-frontend, flake8

[WIP][Frontend] Frontend refactoring
  backend/egame179_backend/api/auth/views.py
  backend/egame179_backend/db/transaction.py
  backend/egame179_backend/engine/calc.py
  backend/egame179_backend/engine/mechanics.py
  frontend/egame179_frontend/api/cycle.py
  frontend/egame179_frontend/api/market.py
  frontend/egame179_frontend/api/production.py
  frontend/egame179_frontend/api/user.py
  frontend/egame179_frontend/settings.py
  frontend/egame179_frontend/state/player.py
  frontend/egame179_frontend/state/state.py
  frontend/egame179_frontend/views/admin/dashboard.py
  frontend/egame179_frontend/views/logout.py
  frontend/egame179_frontend/views/player/manufacturing.py
  frontend/egame179_frontend/views/player/overview.py
Due: black, mypy-backend, mypy-frontend, flake8

[Backend] Added fee modificators to mechanic
  backend/egame179_backend/api/cycle.py
  backend/egame179_backend/api/supply.py
  backend/egame179_backend/db/modificators.py
  backend/egame179_backend/engine/mechanics.py
  backend/egame179_backend/engine/utility.py
Due: black, mypy-backend, flake8
